html, body {
    height: 100%;
    width: 100%;
  }
  @import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Lexend+Deca&display=swap");
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* Navigation Bar */
  .nav-bar ul{
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-bar a{
    text-decoration: none;
  }
  
  /* Index Page */
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  p {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 80px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 400;
    max-width: 100%;
  }
  
  .card {
    display: flex;
    max-width: 60%;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .sedans {
    min-height: 100%;
    background-color: hsl(31, 77%, 52%);
    padding: 20px;
  }
  
  .suv {
    min-height: 100%;
    background-color: hsl(184, 100%, 22%);
    padding: 20px;
  }
  
  .luxury {
    min-height: 100%;
    background-color: hsl(179, 100%, 13%);
    padding: 20px;
  }
  
  .icon {
    margin-bottom: 20px;
  }
  
  .header {
    color: hsl(0, 0%, 95%);
    margin-bottom: 20px;
    font-family: "Big Shoulders Display", cursive;
    font-weight: 700;
  }
  
  .button {
    margin-bottom: 40px;
    max-width: 100%;
  }
  
  .cta-link {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 10px;
    border-radius: 30px;
  }
  
  .sedans .cta-link {
    color: hsl(31, 77%, 52%);
  }
  
  .suv .cta-link {
    color: hsl(184, 100%, 22%);
  }
  
  .luxury .cta-link {
    color: hsl(179, 100%, 13%);
  }
  
  .cta-link:hover {
    border: 2px solid hsl(0, 0%, 95%);
    background-color: inherit;
    color: hsla(0, 0%, 100%, 0.75);
  }
  
  @media only screen and (max-width: 1064px) {
    body {
      height: 100%;
      margin: 20px 0;
      overflow-x: hidden;
    }
  
    .card {
      max-width: 100%;
      margin: 0 10px;
      flex-wrap: wrap;
    }
  }
  
  /* Grid Page */
  .parent {
    margin: 10px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .div1 {
    background-color: orangered;
    grid-area: 1 / 1 / 4 / 4;
  }
  .div2 {
    background-color: orange;
    grid-area: 1 / 4 / 4 / 6;
  }
  .div3 {
    background-color: greenyellow;
    grid-area: 4 / 1 / 8 / 3;
  }
  .div4 {
    background-color: aqua;
    grid-area: 4 / 3 / 6 / 6;
  }
  .div5 {
    background-color: aqua;
    grid-area: 6 / 3 / 8 / 6;
  }